<li class="gallery-list-item">
    <img src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="{{original_title}}" class="gallery-item-img">
    <h3 class="gallery-item-name">{{title}}
    </h3>
    {{!-- {{#each genre_ids}} --}}
    <p class="gallery-item-genre">Genre</p>
    {{!-- {{/each}} --}}
</li>