<div class="email-popup-content">
  <div class="image-container">
    <img src="{{movie}}" class="movie-img">
  </div>

  <div class="email-popup-info">
    <h2 class="email-popup-title">Do you want to receive up-to-date information about the latest movies? </h2>
    <p class="email-popup-text">Leave your email and we'll keep you informed</p>
    <form action="" class="subscribe-form">
      <input type="email" placeholder="Enter your email" class="input-text">
      <button type="submit" class="accept-btn">Subscribe</button>
    </form>
    <button type="submit" class="refuse-btn">No, thanks</button>
  </div>
  <button type="button" class="close-email-btn" data-action="close-pop-up"></button>
</div>