<div class="email-popup-content">
  <img src="{{this}}" class="movie-img"></img>
  <div class="email-popup-info">
    <p class="email-popup-title">Do you want to receive from us up-to-date information about the latest movies?</p>
    <form action="">
      <input type="text" placeholder="Enter your email" class="input-text">
      <input type="submit" class="input-btn">
    </form>
  </div>

</div>