.films-list {
  text-align: left;
}
.gallery-list-item {
  width: 280px;
  list-style: none;
}
.gallery-item-img {
  border: 1px solid transparent;
  border-radius: 9px;
  margin-bottom: 10px;
}
.gallery-item-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--primary-text-color);
}
.gallery-item-genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  color: var(--accent-color);
}
.gallery-item-genre-name:last-child .no-need-symbol {
  display: none;
}
@media screen and (max-width: 767px) {
  .gallery-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery-list-item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
  .gallery-list-item:nth-child(odd) {
    margin-right: 30px;
  }
  .gallery-list-item:nth-child(even) {
    margin-left: 0;
  }
  .home-film-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .gallery-list-item {
    margin-right: 30px;
  }
  .gallery-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .gallery-list-item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
  .home-film-list {
    display: flex;
    flex-wrap: wrap;
  }
}
